<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>

        <form action="/views/register.html" method="POST">
                <p><imput type="text" name="Nombre Y Apellido"></p>
                <p><imput type="date" name="Fecha de nacimiento"></p>
                <p><imput type="text" name="Domicilio"></p>
                <p><imput type="radio" name="Comprar" value="Comprar"></p>
                <p><imput type="radio" name="Vender" value="Vender"></p>
                <p><imput type="checkbox" name="valor1" value="Electro"></p>
                <p><imput type="checkbox" name="valor1" value="Moda"></p>
                <p><imput type="checkbox" name="valor1" value="Hogar"></p>
                <p><imput type="checkbox" name="valor1" value="Jugueteria"></p>
                <p><imput type="checkbox" name="valor1" value="Vida Sana"></p>

                <p><imput type="file" name="FotoDeUsuario" accept=".jpg"></p>
                <p><imput type="password" name="Contraseña"></p>
                <p><imput type="password" name="Contraseña"></p>
                <p><button type="submit" href="/views/home.html">Registrarse</button></p>
                <p><button type="reset">Borrar Formulario</button></p>

        </form>                   


    </body>

</html>